/*--------------------- MAIN ---------------------*/

body {
background: rgba(219,239,255,1);
background: -moz-linear-gradient(top, rgba(219,239,255,1) 0%, rgba(219,239,255,1) 27%, rgba(75,168,255,1) 57%, rgba(0,117,227,1) 76%, rgba(32,94,250,1) 89%, rgba(0,64,227,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(219,239,255,1)), color-stop(27%, rgba(219,239,255,1)), color-stop(57%, rgba(75,168,255,1)), color-stop(76%, rgba(0,117,227,1)), color-stop(89%, rgba(32,94,250,1)), color-stop(100%, rgba(0,64,227,1)));
background: -webkit-linear-gradient(top, rgba(219,239,255,1) 0%, rgba(219,239,255,1) 27%, rgba(75,168,255,1) 57%, rgba(0,117,227,1) 76%, rgba(32,94,250,1) 89%, rgba(0,64,227,1) 100%);
background: -o-linear-gradient(top, rgba(219,239,255,1) 0%, rgba(219,239,255,1) 27%, rgba(75,168,255,1) 57%, rgba(0,117,227,1) 76%, rgba(32,94,250,1) 89%, rgba(0,64,227,1) 100%);
background: -ms-linear-gradient(top, rgba(219,239,255,1) 0%, rgba(219,239,255,1) 27%, rgba(75,168,255,1) 57%, rgba(0,117,227,1) 76%, rgba(32,94,250,1) 89%, rgba(0,64,227,1) 100%);
background: linear-gradient(to bottom, rgba(219,239,255,1) 0%, rgba(219,239,255,1) 27%, rgba(75,168,255,1) 57%, rgba(0,117,227,1) 76%, rgba(32,94,250,1) 89%, rgba(0,64,227,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbefff', endColorstr='#0040e3', GradientType=0 );
    font-color:#222222;
}

/*--------------------- TYPOGRAPHY ---------------------*/

p {
    font-size: 13px;
    color:#333333;
    font-weight: normal;
    font-family: CharterBT-Roman;
    src: url(fonts/CharterBT-Roman.ttf);
}

h1 {
  size: 180px;
    color:#ffffff;
  text-decoration: light;
    font-family: CharterBT-Roman;
    src: url(fonts/CharterBT-Roman.ttf);
}

h2 {
  font-size:36px;
  color:#000000;
  font-weight: normal;
    font-family: CharterBT-Roman;
    src: url(fonts/CharterBT-Roman.ttf);
  
  }
  
h3 {
    font-size:20px;
    color:#000000;
    font-weight: normal;
    font-family: CharterBT-Roman;
    src: url(fonts/CharterBT-Roman.ttf);
    }

h4 {
    size:16px;
    text-decoration: light;
    color:#000000;
    font-weight: normal;
    font-family: CharterBT-Roman;
    src: url(fonts/CharterBT-Roman.ttf);
    }

h5 {
    font-size:21px;
    color:#000000;
    font-style: italic;
    font-weight: normal;
    font-family: CharterBT-Roman;
    src: url(fonts/CharterBT-Roman.ttf);
    }

h6 {
    size:18px;
    color:#000000;
    font-weight: normal;
    font-family: ConduitITCMedium.eot;
    src: url(fonts/ConduitITCMedium.eot);
    }


   
a:link {
    color: #ffffff;
    text-decoration:none;
    font-weight: normal;

}

a:visited {
    color: #ffffff;
}

/* mouse over link */
a:hover {
    color: #000000;
}

/* selected link */
a:active {
    color: #000000;
}

/*--------------------- HEADER + MENU ---------------------*/


}

#menu {
    margin: 25px;
    padding-right: 30px;
    width: 800px;
    height: 180px;
    font-family: CharterBT-Roman;
    src: url(fonts/CharterBT-Roman.ttf);
    
    }

#contents {
    margin: 25px;
    padding-right: 30px;
    width: 1200px;
    font-color:white;
    font-size:45px;
    line-height: 250%;
    

}

#header {
    padding-top: 150px;
    width: 900px;
    height: 670px;
    margin: 0px auto;
    }  

#titel {
    margin-top: 500px;
    width: 500px;
    margin: 0px auto;
    }    

/*--------------------- TEKST BLOKKEN ---------------------*/


#center {
    width: 380px;
    margin: 0px auto;
    }


#left {
    width: 380px;
    margin: 50px 50px 50px 180px;
    }

#side {
    width: 380px;
    margin: 50px 50px 50px 90px;
    }

#images {
    margin: 20px 50px 50px 180px;
    float: left;
    }

#citaat {
    width: 380px;
    margin: 0px auto;
    }

/*--------------------- KOPPEN ---------------------*/
.hoofdstuk {
    display: table;
    width: 300px;
    height: 80px;
    padding-left: 25px;


}

.subkop {
    display: table;
    width: 310px;
    height: 80px;
    padding-left: 25px;


}

/*--------------------- IMAGE EFFECTS ---------------------*/

#images .text {
position:relative;
width: 150px;
bottom:270px;
left:270px;
visibility:hidden;
}

#images:hover .text {
visibility:visible;
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

img {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.thumb{
  display:block;
  float:right;
  padding-right: 15px;
}

#navbar{
  opacity:0;
  position:fixed;
  left:0;
  top:0;
  padding-left:20px;
  margin-top:15%;
  margin-bottom:20%;
  height:60%;
  width:auto;
}

.sidebar a{
  font-family: NimbusSanExt-Reg;
  color:grey;
  text-decoration:none;

  font-size:19px;
  line-height:40px;
}

.sidebar span{
  opacity:0;
  padding-left:10px;
  -webkit-transition:all 0.3s ease;
  transition:all 0.3s ease;
}

.sidebar a:hover{
  color:black;
}
.sidebar a:hover span{
  color:black;
  display:inline;
  opacity:1;
  -webkit-transition:all 0.3s ease;
  transition:all 0.3s ease;
}




li {
    font-family: ConduitITCLight.otf;
    font-weight: normal;
    display: inline;
    padding: 20px;20px
}



.voetnoten1 {
    display: table;
    width: 200px;
    height: 70px;
    position: absolute;
    margin-left: 670px;
    margin-top: 560px;

}


.voetnoten2 {
    display: table;
    width: 200px;
    height: 50px;
    position: absolute;
    margin-left: 640px;
    margin-top: 180px;
    

}

.voetnoten3 {
    display: table;
    background-color: red;
    width: 200px;
    height: 50px;
    position: absolute;
    margin-left: 640px;
    padding-top: 0px;
    

}

.voetnoten4 {
    display: table;
    background-color: red;
    width: 200px;
    height: 50px;
    position: absolute;
    margin-left: 640px;
    padding-top: 20px;
    

}

.voetnoten4 {
    display: table;
    background-color: red;
    width: 200px;
    height: 50px;
    position: absolute;
    margin-left: 640px;
    margin-top: 380px;
    

}



