/*--------------------- MAIN ---------------------*/

body {
    background-image: url("images/background.png");
    font-color:#222222;
}

/*--------------------- TYPOGRAPHY ---------------------*/

p {
    font-size: 13px;
    color:#333333;
    font-weight: normal;
    font-family: CharterBT-Roman;
    src: url(fonts/CharterBT-Roman.ttf);
}

h1 {
  size: 180px;
    color:#ffffff;
  text-decoration: light;
    font-family: CharterBT-Roman;
    src: url(fonts/CharterBT-Roman.ttf);
}

h2 {
  font-size:36px;
  color:#000000;
  font-weight: normal;
    font-family: CharterBT-Roman;
    src: url(fonts/CharterBT-Roman.ttf);
  
  }
  
h3 {
    font-size:20px;
    color:#000000;
    font-weight: normal;
    font-family: CharterBT-Roman;
    src: url(fonts/CharterBT-Roman.ttf);
    }

h4 {
    size:16px;
    text-decoration: light;
    color:#000000;
    font-weight: normal;
    font-family: CharterBT-Roman;
    src: url(fonts/CharterBT-Roman.ttf);
    }

h5 {
    font-size:21px;
    color:#000000;
    font-style: italic;
    font-weight: normal;
    font-family: CharterBT-Roman;
    src: url(fonts/CharterBT-Roman.ttf);
    }

h6 {
    size:18px;
    color:#000000;
    font-weight: normal;
    font-family: ConduitITCMedium.eot;
    src: url(fonts/ConduitITCMedium.eot);
    }

   
a:link {
    color: #ffffff;
    text-decoration:none;
    font-weight: normal;

}

a:visited {
    color: #ffffff;
}

/* mouse over link */
a:hover {
    color: #000000;
}

/* selected link */
a:active {
    color: #000000;
}

#loader {
    position: static;
    width: 700px;
    height: 50px;
    position: fixed;




}

#menu {
    margin: 25px;
    padding-right: 30px;
    width: 800px;
    height: 180px;
    font-family: CharterBT-Roman;
    src: url(fonts/CharterBT-Roman.ttf);
    
    }

#header {
    padding-top: 290px;
    width: 900px;
    height: 400px;
    margin: 0px auto;
    }  

#titel {
    margin-top: 500px;
    width: 500px;
    margin: 0px auto;
    }    

#center {
    margin-top: 400px;
    width: 380px;
    margin: 0px auto;
    }

#contents {
    margin: 25px;
    padding-right: 30px;
    width: 1200px;
    font-color:white;
    font-size:45px;
    line-height: 250%;
    

}


#inleidingen {
    display: table;
    float: left;
    margin-left: 200px;
    padding-top: 100px;

}

.inleidingentekst{
    width: 380px;
    float: left;
}

.voetnoten1 {
    display: table;
    width: 200px;
    height: 70px;
    position: absolute;
    margin-left: 670px;
    margin-top: 560px;

}


.voetnoten2 {
    display: table;
    width: 200px;
    height: 50px;
    position: absolute;
    margin-left: 640px;
    margin-top: 180px;
    

}

.voetnoten3 {
    display: table;
    background-color: red;
    width: 200px;
    height: 50px;
    position: absolute;
    margin-left: 640px;
    padding-top: 0px;
    

}

.voetnoten4 {
    display: table;
    background-color: red;
    width: 200px;
    height: 50px;
    position: absolute;
    margin-left: 640px;
    padding-top: 20px;
    

}

.voetnoten4 {
    display: table;
    background-color: red;
    width: 200px;
    height: 50px;
    position: absolute;
    margin-left: 640px;
    margin-top: 380px;
    

}


#images {
    width: 950px;
    margin: 0px auto;
    padding-top: 180px;
    position: relative;
    

}




#images .text {
position:relative;
width: 150px;
bottom:270px;
left:270px;
visibility:hidden;
}

#images:hover .text {
visibility:visible;
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

.thumb{
  display:block;
  float:right;
  padding-right: 15px;
}

#navbar{
  opacity:0;
  position:fixed;
  left:0;
  top:0;
  padding-left:20px;
  margin-top:15%;
  margin-bottom:20%;
  height:60%;
  width:auto;
}

.sidebar a{
  font-family: NimbusSanExt-Reg;
  color:grey;
  text-decoration:none;

  font-size:19px;
  line-height:40px;
}

.sidebar span{
  opacity:0;
  padding-left:10px;
  -webkit-transition:all 0.3s ease;
  transition:all 0.3s ease;
}

.sidebar a:hover{
  color:black;
}
.sidebar a:hover span{
  color:black;
  display:inline;
  opacity:1;
  -webkit-transition:all 0.3s ease;
  transition:all 0.3s ease;
}


#plattetekst {
    width: 800px;
    height: 300px;
    margin-left: 100px;


}

.teksten{
    width: 380px;
}

}


.hoofdstuk {
    display: table;
    width: 300px;
    height: 80px;
    padding-left: 10px;


}

.subkop {
    display: table;
    width: 300px;
    height: 50px;
    font-size: 16px;
    padding-left: 45px;
    padding-top: 45px;

.floating {
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;

}


    

}
li {
    font-family: ConduitITCLight.otf;
    font-weight: normal;
    display: inline;
    padding: 20px;20px
}



img {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

/* Disable grayscale on hover */
img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .fade:hover {
      opacity: 0.5;
      }

::-webkit-scrollbar
{
  width: 7px;  /* for vertical scrollbars */
  height: 7px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}




